:root {
  --main-color: black;
  --main-font: "Montserrat", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
